.chess-board {
    width: 800px;
}

.promotion-bord {
    background: rgba(172, 172, 172, 0.39);
    width: 800px;
    height: 800px;
    position: absolute;
}

.row {
    height: 100px;
}

.field {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.black {
    background-color: rgb(78, 128, 177);
}

.white {
    background-color: rgb(200, 200, 200);
}

.figure {
    width: 80px;
    padding: 10px;
}

.active-figure {
    width: 100px;
    padding: 0px;
    background: rgba(131, 61, 131, 0.993)
}

.possible-move {
    background: rgb(48, 168, 48);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin: 30px;
    position: absolute;
}

.cursor-pointer {
    cursor: pointer;
}

.lastMove {
    background: rgb(106, 165, 19);
}

.promotion-figures {
    margin: auto;
    width: 525px;
    margin-top: 350px;
}

.threaten-king {
    background: red;
}